<div class="container mt-5">
  <div class="card shadow-lg border-0">
    <div class="card-header bg-primary text-white text-center py-3">
      <h3>Project Details</h3>
    </div>
    <div class="card-body p-4">
      <div class="row mb-4">
        <div class="col-md-6">
          <label for="projectName" class="form-label">Project Name:</label>
          <input
            type="text"
            id="projectName"
            class="form-control border-0 input-readonly"
            [(ngModel)]="project.name"
            readonly
          />
        </div>
        <div class="col-md-6">
          <label for="completionDate" class="form-label"
            >Completion Date:</label
          >
          <input
            type="text"
            id="completionDate"
            class="form-control border-0 input-readonly"
            [(ngModel)]="project.completionDate"
            readonly
          />
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-6">
          <label for="minMembers" class="form-label">Minimum Members:</label>
          <input
            type="number"
            id="minMembers"
            class="form-control border-0 input-readonly"
            [(ngModel)]="project.minMembers"
            readonly
          />
        </div>
        <div class="col-md-6">
          <label for="maxMembers" class="form-label">Maximum Members:</label>
          <input
            type="number"
            id="maxMembers"
            class="form-control border-0 input-readonly"
            [(ngModel)]="project.maxMembers"
            readonly
          />
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-6">
          <label for="managerUsername" class="form-label"
            >Manager Username:</label
          >
          <input
            type="text"
            id="managerUsername"
            class="form-control border-0 input-readonly"
            [(ngModel)]="project.manager.username"
            readonly
          />
        </div>
      </div>

      <div class="row mt-4">
        <!-- Add Task and See All Tasks Buttons Next to Each Other -->
        <div class="col-md-6">
          <button
            *ngIf="isManager()"
            class="btn btn-primary w-100 shadow-sm"
            (click)="addTask()"
          >
            Add Task
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success w-100 shadow-sm" (click)="allTasks()">
            See All Tasks
          </button>
        </div>
      </div>

      <div class="row mt-3">
        <!-- Add Members and Remove Members Buttons -->
        <div class="col-md-6">
          <button
            *ngIf="!maxLengthAchieved && isManager()"
            class="btn btn-success w-100 shadow-sm"
            (click)="addMember()"
          >
            Add Members
          </button>
        </div>
        <div class="col-md-6">
          <button
            *ngIf="isManager()"
            class="btn btn-danger w-100 shadow-sm"
            (click)="removeMember()"
          >
            Remove Members
          </button>
        </div>
      </div>

      <!-- Delete Project Button at the Bottom -->
      <div class="row mt-4">
        <div class="col-md-12">
          <button
            *ngIf="isManager()"
            class="btn btn-danger w-100 shadow-sm"
            (click)="deleteProject()"
          >
            Delete Project
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
