<div class="container mt-5">
  <div class="card shadow-lg border-0">
    <div class="card-header bg-primary text-white text-center py-3">
      <h3>Project Details</h3>
    </div>
    <div class="card-body p-4">
      <div class="row mb-4">
        <div class="col-md-6">
          <label for="projectName" class="form-label">Project Name:</label>
          <input
            type="text"
            id="projectName"
            class="form-control border-0 input-readonly"
            [(ngModel)]="project.name"
            readonly
          />
        </div>
        <div class="col-md-6">
          <label for="completionDate" class="form-label"
          >Completion Date:</label
          >
          <input
            type="text"
            id="completionDate"
            class="form-control border-0 input-readonly"
            [(ngModel)]="project.completionDate"
            readonly
          />
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-6">
          <label for="minMembers" class="form-label">Minimum Members:</label>
          <input
            type="number"
            id="minMembers"
            class="form-control border-0 input-readonly"
            [(ngModel)]="project.minMembers"
            readonly
          />
        </div>
        <div class="col-md-6">
          <label for="maxMembers" class="form-label">Maximum Members:</label>
          <input
            type="number"
            id="maxMembers"
            class="form-control border-0 input-readonly"
            [(ngModel)]="project.maxMembers"
            readonly
          />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 text-center">
          <ng-container *ngIf="workflow; else createWorkflowBlock">
            <h4 class="text-success">Workflow</h4>
            <div class="row mt-3">
              <div class="col-md-12 text-center">
                <button
                  *ngIf="isManager()"
                  class="btn btn-success w-100 shadow-sm"
                  (click)="openTaskModal()"
                >
                  Add Task with Dependencies
                </button>
              </div>
            </div>

          </ng-container>

          <ng-template #createWorkflowBlock>
            <button
              *ngIf="isManager()"
              class="btn btn-primary w-100 shadow-sm"
              (click)="createWorkflow()"
            >
              Create Workflow
            </button>
          </ng-template>

          <div>
            <h2>Add Main Task</h2>
            <label for="mainTaskSelect">Select Main Task:</label>
            <select id="mainTaskSelect" [(ngModel)]="mainTask.id">
              <option *ngFor="let task of comboBoxTasks" [value]="task.id">
                {{ task.name }}
              </option>
            </select>
            <textarea
              placeholder="Main Task Name"
              [(ngModel)]="mainTask.name"
            ></textarea>
            <textarea
              placeholder="Main Task Description"
              [(ngModel)]="mainTask.description"
            ></textarea>

            <h2>Add Dependent Task</h2>
            <label for="dependentTaskSelect">Select Dependent Task:</label>
            <select id="dependentTaskSelect" [(ngModel)]="dependentTask.id">
              <option *ngFor="let task of comboBoxTasks" [value]="task.id">
                {{ task.name }}
              </option>
            </select>
            <textarea
              placeholder="Dependent Task Name"
              [(ngModel)]="dependentTask.name"
            ></textarea>
            <textarea
              placeholder="Dependent Task Description"
              [(ngModel)]="dependentTask.description"
            ></textarea>

            <button (click)="addTasks()">Add Dependency</button>
          </div>


          </div>
        </div>
      </div>




      <div class="row mb-4">
        <div class="col-md-6">
          <label for="managerUsername" class="form-label"
          >Manager Username:</label
          >
          <input
            type="text"
            id="managerUsername"
            class="form-control border-0 input-readonly"
            [(ngModel)]="project.manager.username"
            readonly
          />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6">
          <button
            *ngIf="isManager()"
            class="btn btn-primary w-100 shadow-sm"
            (click)="addTask()"
          >
            Add Task
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success w-100 shadow-sm" (click)="allTasks()">
            See All Tasks
          </button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <button
            *ngIf="!maxLengthAchieved && isManager()"
            class="btn btn-success w-100 shadow-sm"
            (click)="addMember()"
          >
            Add Members
          </button>
        </div>
        <div class="col-md-6">
          <button
            *ngIf="isManager()"
            class="btn btn-danger w-100 shadow-sm"
            (click)="removeMember()"
          >
            Remove Members
          </button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <button
            class="btn btn-info w-100 shadow-sm"
            (click)="viewNotifications()"
          >
            Project Notifications
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <button
            *ngIf="isManager()"
            class="btn btn-danger w-100 shadow-sm"
            (click)="deleteProject()"
          >
            Delete Project
          </button>
        </div>
      </div>
    </div>


  <h3>Workflow Graph</h3>
  <svg id="workflow-graph" width="100%" height="600px"></svg>
</div>
