<div class="container mt-5">
    <h2 class="text-center mb-4">My projects</h2>
    <div *ngIf="projects && projects.length; else noProjects" class="row row-cols-1 row-cols-md-2 g-4">
        <div *ngFor="let project of projects" class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ project.Name }}</h5>
                    <p class="card-text">
                        <strong>Completion Date:</strong> {{ project.CompletionDate | date:'dd.MM.yyyy' }}
                    </p>
                    <p class="card-text">
                        <strong>Min members:</strong> {{ project.MinMembers }}
                    </p>
                    <p class="card-text">
                        <strong>Max members:</strong> {{ project.MaxMembers }}
                    </p>
                    <button class="btn btn-danger mt-3" (click)="deleteProject(project.id)">
                        Delete project
                    </button>
                  <button class="btn btn-danger mt-3" (click)="addTask(project.id)">
                    Dodaj Task
                  </button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noProjects>
        <p class="text-center text-muted">No projects available</p>
    </ng-template>
</div>
